# Angular
frontend/node_modules
frontend/dist
frontend/.angular

# Spring Boot
backend/target
backend/.mvn/wrapper/maven-wrapper.jar

# Environment / secrets
.env
*.env
application-local.properties
application-local.yml

# IDE
.vscode
.idea
*.iml

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Zip
*.zip